/* Algemene stijl voor de container */
.slideshow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* 부모 요소의 전체 너비를 차지하도록 설정 */
    max-width: 800px; /* 최대 너비를 설정하여 너무 커지지 않도록 제한 */
    height: 280px; /* 원하는 높이로 설정 */
    overflow: hidden;
    border-radius: 10px; /* Optioneel: afgeronde hoeken */
    border: 8px solid black;
    outline: 12px solid #222;
    border: 5px solid #ccc; /* 액자 스타일 */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    overflow: hidden; /* 이미지가 슬라이드쇼를 넘지 않도록 */
    position: relative; /* 자식 요소의 절대 위치를 위한 상대 위치 */
  }
  /* Add this CSS to your stylesheet */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slideshow img {
    max-width: 100%; /* 이미지가 슬라이드쇼의 너비를 넘지 않도록 */
    height: auto; /* 이미지의 비율을 유지 */
    opacity: 0;
    position: absolute; /* 절대 위치로 설정 */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transform: translateX(100%); /* 오른쪽에서 시작 */
  }

  .slideshow img.fade-in {
    opacity: 1 !important;
    transform: translateX(0) !important; /* 중앙으로 슬라이드 */
  }

