/* Style for the container */
* {
    margin: 0;
    padding: 0;
}

.board-list-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url('./assets/boardImg.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Style for the table */
.board-list-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Style for table headers */
.board-list-table th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

/* Style for table rows */
.board-list-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

/* Style for alternating row colors */
.board-list-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Style for the table header */
.board-list-header {
    font-size: 24px;
    margin-bottom: 10px;
}