* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.buffer-outSide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.buffer-inSide {
    z-index: 1000;
    background-image: url('./assets/img/buffer.gif');
    background-size: 100% 100%;
    width: 300px;
    height: 200px;
}

.font-color-green {
    color: green;
}

.join-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.join-container .join_area {
    width: 1050px;
    height: 765px;

    display: flex;
    justify-content: space-between;
    border: 3px solid #000;
    border-radius: 15px;
    overflow: hidden;
}


.join-container .join_area .img_ham {
    width: 40%;
    background-image: url('./assets/img/joinImg.jpg');
    background-size: 100% 100%;
}
.join-container .join_area .joinForm-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-container .join_area .joinForm-container .joinForm {
    padding-left: 50px;
    width: 550px;
    height: 500px;
}

.join-container .join_area .joinForm-container .joinForm .ham-area {
    width: 300px;
    position: relative; /* label 위치 조정을 위해 position 사용 */
    margin-top: 30px;
    cursor: pointer;
}

.join-container .join_area .joinForm-container .joinForm .ham-area .seedImg {
    position: absolute;
    top: 15px;
    right: -50px;
    background-image: url('./assets/img/seed.png');    
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    margin-top: 0;
}

.join-container .join_area .joinForm-container .joinForm .ham-area:first-child {
    margin-top: 0;
}

.join-container .join_area .joinForm-container .joinForm .ham-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px;
    color: #000;
    outline: none;
    cursor: pointer;
}

.join-container .join_area .joinForm-container .joinForm .ham-area label {
    position: absolute;
    left: 50px;
    top: 15px;
    font-size: 18px;
    color: #999;
    transition: all .5s ease;
}

.join-container .join_area .joinForm-container .joinForm .ham-area input:focus + label,
.join-container .join_area .joinForm-container .joinForm .ham-area input:valid + label {
    top: -2px;
    left: 10px;
    font-size: 13px;
    color: #166cea;
}

.join-container .join_area .joinForm-container .joinForm .ham-area label.warning {
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
}

@keyframes warning {
    0% { transform: translateX(-8px);}
    25% { transform: translateX(8px);}
    50% { transform: translateX(-8px);}
    75% { transform: translateX(8px);}
}

.joinForm-container .btn-idCheck {
    position: absolute;
    right: -240px;
    top: 2px;
    width: 140px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
}

.joinForm-container .btn-idCheck:hover {
    color:green
}

.joinForm-container .btn-idCheck .sunFlowerImg {
    margin-right: 10px;
    background-image: url('./assets/img/sunflowerSeed.png');
    height: 100%;
    width: 14px;
    background-size: 100% 100%;
    display: inline-block;
}

.joinForm-container .btn-idCheck span {
    padding-top: 5px;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    vertical-align: middle;
}

.joinForm .ham-area select {
    cursor: pointer;
}

.joinForm .ham-area.nicknameArea {
    margin-bottom: 20px;
}

.joinForm span.spanYear {
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.joinForm .ham-area select,
.joinForm .ham-area select+span {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    margin-right: 1px;
}

.joinForm .btnArea {
    margin: 40px 50px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.joinForm .btnArea div {
    cursor: pointer;
}

.joinForm .btnArea div:nth-child(1) {
    position: relative;
}

.joinForm .btnArea .submitBtn {
    position: absolute;
    width: 24px;
    height: 100%;
    top: -10px;
    margin-right: 15px;
    background-image: url('./assets/img/cheese.png');
    display: inline-block;
    background-size: 100% 100%;
    cursor: pointer;
}

.joinForm .btnArea .submitBtn+span,
.joinForm .btnArea .returnBtn+span {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.joinForm .btnArea .submitBtn+span:hover,
.joinForm .btnArea .returnBtn+span:hover {
    color:green
}

.joinForm .btnArea .returnBtn {
    width: 24px;
    margin-right: 15px;
    display: inline-block;
    background-image: url('./assets/img/u-turn.png');
    background-size: 100% 100%;
    cursor: pointer;
}

